extends ../layout

block content
  div.labs-header
    div.coverimage.wrapper-12(style='background-image: url("images/intern_1.jpg");')
      div.small-9.small-centered
        div.text-wrapper.small-12.medium-6
          h1.top-title What is
          img(src="images/logo-labs-orange.png")
          p Desde que entras a Nearsoft, está ahí escrito en la pared: queremos convertirnos en una de las empresas más innovadoras de México
  div.news
    div.wrapper-12
      div.small-9.small-centered
        div.news-top.small-12
          div.news-title.medium-6
            h1 NEWS
          div.news-search.small-6
            input(type="text", placeholder="search")

        div.news-content.wrapper-12
          div.content-top.small-12
            div.circle-container
              div.circle
              div.circle
              div.circle
          div.content-middle.small-12
            div.content-text.small-10.small-centered
              p No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual.
            div.scroll
  div.stripe.small-10.small-centered

  div.products
    div.wraper-12
      div.small-9.small-centered
        div.title.products-title.small-5
          h3 Products
        div.lists.products-lists
          div.products-list.small-12.medium-6
            ul.products-items
              li.product-item Planning with cards
              li.product-item Nuuk
              li.product-item RideAsOne
          div.products-list.small-12.medium-6
            ul.products-items
              li.product-item ApiToCode
              li.product-item Ikigai
              li.product-item .







